ul {
  padding: 0.5rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50vw;
  margin: auto;
  font-size: 1.125rem;
}

thead {
  background-color: var(--clr-surface-a10);
  color: var(--clr-light-a0);
}

th,
td {
  border: none;
  padding: 12px 15px;
  text-align: center;
}

th {
  font-weight: bold;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: var(--clr-surface-a40);
}

tbody > tr:nth-of-type(odd) {
  background-color: var(--clr-surface-a30);
}

tbody > tr:hover {
  background-color: var(--clr-primary-a0);
  transition: background-color 0.2s ease-in-out;
}

.tempImg {
  margin: auto;
}

@media (max-width: 768px) {
  .infoText {
    font-size: 1.125rem;
    max-width: 95vw;
  }
  .tempImg {
    max-width: 50%;
  }
  table {
    width: 85%;
  }
}
