/* Dropdown Menu */
.dropdownMenu {
  position: fixed;
  top: -250px;
  right: 0;
  width: 250px;
  background-color: var(--clr-primary-a10);
  border-radius: 8px;
  opacity: 0;
}

.dropdownMenu.active {
  top: 4rem;
  visibility: visible;
  opacity: 1;
}

/* List Items */
.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu ul li {
  margin: 0;
}

.dropdownMenu ul li span {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--clr-light-a0);
}

.dropdownMenu ul li span:hover {
  background-color: var(--clr-primary-a30);
  border-radius: 8px;
}
