/* Sidebar Layout */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 250px;
  color: var(--clr-light-a0);
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  z-index: 10;
}

.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 4rem;
  height: 65vh;
}

/* Sidebar Tab */
.sidebar-tab {
  display: none;
}

.sidebar-tab svg {
  pointer-events: none;
}

/* Sidebar Title */
.sidebarTitle {
  display: flex;
  padding: 0;
  margin: 0;
}

/* Sidebar Navigation */
.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  color: var(--clr-light-a0);
  text-decoration: none;
  font-size: 1.25rem;
  margin: 1rem;
  position: relative;
}

.sidebar nav ul li a.active {
  font-weight: bold;
}

.sidebar nav ul li a:hover {
  color: var(--clr-primary-a0);
  text-decoration: underline;
}

.sidebar nav ul li a .icon {
  visibility: hidden;
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}

.sidebar nav ul li a.active .icon {
  visibility: visible;
}

/* Media Queries */

/* Desktop Layout */
@media (max-width: 1200px) {
  .sidebar {
    position: sticky;
    height: 100vh;
    width: 250px;
    color: var(--clr-light-a0);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    z-index: 10;
  }
}

/* Mobile Layout */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--clr-primary-a20);
    color: var(--clr-dark-a0);
    padding: 1.5rem;
    transition: left 0.3s ease;
    font-size: 100%;
  }

  .sidebar::after {
    content: none;
  }

  .sidebar.active {
    left: 0;
  }

  .sidebar-tab {
    display: flex;
    position: fixed;
    left: 0;
    width: 4rem;
    height: 6rem;
    background-color: var(--clr-primary-a20);
    color: var(--clr-dark-a0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left: 0;
    border-bottom-right-radius: 5px;
    z-index: 100;
    transition: left 0.3s ease, transform 0.3s ease;
    transform: translateY(4rem);
  }

  .sidebar-tab.active {
    left: 250px;
    height: 5rem;
    transform: translateY(3rem);
    transition: 0.3s ease;
  }

  .sidebar-tab:hover {
    background-color: var(--clr-primary-a30);
  }

  .sidebar span {
    color: var(--clr-dark-a0);
  }

  .sidebar h2 {
    text-align: center;
    border-bottom: 1px solid var(--clr-dark-a0);
  }

  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }

  .sidebar nav ul li {
    margin: 2rem 0;
  }

  .sidebar nav ul li a {
    color: var(--clr-dark-a0);
    text-decoration: none;
    font-size: 100%;
  }

  .sidebar nav ul li a:active {
    border-bottom: 1px solid black;
  }

  .sidebar nav ul li a.active .icon {
    color: var(--clr-dark-a0);
  }
}
