/* Navigation Buttons Layout */
.navButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtons h1 {
  margin: 0;
}

/* Button Styles */
.navButtons button {
  padding: 10px;
  background-color: var(--clr-primary-a20);
  border-radius: 5px;
  border: 0;
  color: var(--clr-dark-a0);
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Hover Effect */
.navButtons button:hover {
  background-color: var(--clr-primary-a30);
}

/* Disabled Button */
.navButtons button:disabled {
  visibility: hidden;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .navButtons {
    margin-top: 4rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .navButtons h1 {
    font-size: 1rem;
  }
  .navButtons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .navButtons button {
    padding: 0.75rem;
    display: flex;
    align-items: center;
  }

  .navButtons button svg {
    font-size: 1rem;
  }

  .navButtons .backButton {
    margin-left: 4rem; /* Push it away by exactly 4rem */
    flex-shrink: 0; /* Prevents it from resizing weirdly */
  }
}
