/* src/App.css */
.app {
  display: flex;
  height: 100vh;
}

.content {
  margin-left: 250px; /* Space for the sidebar */
  padding: 20px;
  flex-grow: 1;
  background-color: #ecf0f1;
  color: #2c3e50;
}

h1 {
  font-size: 3rem;
}

.title {
  font-size: 1.25rem;
  position: absolute;
  top: 30px;
  color: #2c3e50;
}

h2 {
  margin: 1rem;
  border-bottom: 1px solid #4a4a4a;
}

.infoText {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  padding: 20px;
  max-width: 100vw;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
