* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App Layout */
.app {
  display: flex;
  height: 100vh;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Typography */
h1 {
  font-size: 3rem;
}

h2 {
  margin: 1rem 10% 1rem 4rem;
  border-bottom: 1px solid var(--clr-light-a0);
}

h3 {
  text-align: right;
  margin: 1rem;
}

span {
  font-weight: bold;
  color: var(--clr-light-a0);
}

/* InfoText Component */
.infoText {
  line-height: 150%;
  font-size: 1.25rem;
  padding: 1.5rem;
  max-width: 80vw;
  margin: auto;
  background-color: var(--clr-surface-a10);
  border-radius: 8px;
}

.infoText h3 {
  text-align: left;
  margin: 0;
  border: none;
}

/* Language Button Group */
.langBtn {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 20px;
}

.langBtn button {
  padding: 10px 20px;
  font-size: 1.125rem;
  background-color: var(--clr-surface-a20);
  border-radius: 5px;
  color: var(--clr-light-a0);
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 120px;
}

.langBtn button:hover {
  background-color: var(--clr-surface-a30);
}

.langBtn button:focus {
  outline: none;
  background-color: var(--clr-surface-a30);
}

.langBtn button:active {
  background-color: var(--clr-surface-a30);
}

/* Miscellaneous */
.title {
  margin: 1rem;
  padding-left: 6rem;
}

.subTitle {
  font-size: 1.25rem;
  position: absolute;
  top: 10px;
}

[class^="language-"] {
  border-radius: 8px;
  width: 85%;
  margin: auto;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .infoText {
    font-size: 1.125rem;
    max-width: 95vw;
  }
  .tempImg {
    max-width: 50%;
  }
}
