* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App Layout */
.app {
  display: flex;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  max-width: 75%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 1rem;
}

/* Typography */
h1 {
  font-size: 2rem;
}

h2 {
  margin: 1rem 10% 1rem 4rem;
  border-bottom: 1px solid var(--clr-light-a0);
}

h3 {
  text-align: right;
  margin: 1rem;
}

span {
  font-weight: bold;
  color: var(--clr-light-a0);
}

/* InfoText Component */
.infoText {
  line-height: 150%;
  font-size: 1.25rem;
  padding: 1.5rem;
  margin: auto;
  background-color: var(--clr-surface-a10);
  border-radius: 8px;
}

.infoText:nth-of-type(odd) {
  background-color: var(--clr-surface-a20);
}

.infoText h3 {
  text-align: left;
  margin: 0;
  border: none;
}

/* Language Button Group */
.langDropdown {
  display: none;
}

.langBtn {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 20px;
}

.langBtn button {
  padding: 10px 20px;
  font-size: 1.125rem;
  background-color: var(--clr-surface-a20);
  border-radius: 5px;
  color: var(--clr-light-a0);
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 120px;
  border: none;
}

.langBtn button:hover {
  background-color: var(--clr-surface-a30);
}

.langBtn button:focus {
  outline: none;
  background-color: var(--clr-surface-a30);
}

.langBtn button:active {
  background-color: var(--clr-surface-a30);
}

/* Misc */
.tempImg {
  width: 50vw;
  display: flex;
}

[class^="language-"] {
  border-radius: 8px;
  white-space: pre-wrap;
  width: 100%;
  margin: auto;
  font-size: 1.125rem;
}

@media (max-width: 1200px) {
  .app {
    max-width: 100%;
  }

  .content {
    margin: 0;
    padding: 1rem;
    flex-grow: 1;
  }

  .infoText {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .langBtn button {
    width: 20%;
    font-size: 1rem;
  }

  [class^="language-"] {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  .content {
    width: 90vw;
    font-size: 1.125rem;
  }
  .infoText p {
    font-size: 1.125rem;
  }
  .tempImg {
    min-width: 75vw;
  }

  [class^="language-"] {
    font-size: 0.75rem;
  }

  .langBtn {
    display: none;
  }

  .langDropdown {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .langDropdown select {
    width: 35vw;
    padding: 10px;
    font-size: 1.125rem;
    border-radius: 5px;
    background-color: var(--clr-surface-a20);
    color: var(--clr-light-a0);
    cursor: pointer;
    border: none;
  }
}
